<section class="loadingMessage" *ngIf="isLoading && !errorMessage">
    WAIT!!! ...Retrieving Nutrition Data...
</section>

<section *ngIf="!isLoading">

    <select class="selectMenu" name="foodGroup" id="foodGroup" (change)="displayFoods($event.target.value)">
        <option value="allFoods" selected>Select a food group</option>
        <option *ngFor="let group of foodGroups" value="{{group}}">{{group}}</option>
    </select>

    <select name="foods" id="foods" size="10" class="selectList">
        <option *ngFor="let item of foodListByGroup" (click)="showNutrients(item)">{{ item.description }}</option>
    </select>

</section>

<section class="errMessage" *ngIf="errorMessage">
    {{ errorMessage }}
</section>