#foods {
    width: 100%;
}

section {
    width: 30em;
}

.active {
    background-color: #FFBC2F;
}

.selectMenu {
    padding: .45em;
    margin: 1em auto;
    border: 1px solid #d4d4d4;
    border-radius: .35em;
    line-height: 1.5em;
    box-shadow: inset 0 2px 2px #ececec;
    display: block;
    text-align: center;
}

.selectList {
    border: 1px solid #ccc;
    border-radius: .45em;
}

.errMessage, .loadingMessage {
    background-color: #fff;
    font-size: 1em;
    font-weight: 700;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: .35em;
    text-align: center;
}

.loadingMessage {
    animation: pulse 1.75s infinite;
}

@keyframes pulse {
    0% {
        background-color: #333333;
        color: #fff;
    }
    100% {
        background-color: #f00;
        color: #000;
    }
}

ul {
    width: 100%;
    color: #333;
    list-style: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: .5em;
}

.list li {
    padding: 3px;
    text-align: left;
    font-size: .80em;
    line-height: 1.35;
    border-bottom: 1px solid #333333;
    padding-right: .5em;
}


