section {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1em;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
section>h1, section>h2 {
    margin-top: 1em;
    margin-bottom: 0;
    padding: .25em;
}
section>p {
    width: 80%;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
}
ul>li {
    text-align: left;
    line-height:1.35em;
}