<section>
    <h1>Protein</h1>
    <table>
        <tr>
            <th></th>
            <th>Calories</th>
            <th>Protein (grams)</th>
        </tr>
        <tr>
            <td>Single Serving</td>
            <td>{{ proteinSample.calories }}</td>
            <td>{{ proteinSample.protein }}</td>
        </tr>
        <tr>
            <td>Double Serving</td>
            <td>{{ proteinSample.calories | double }}</td>
            <td>{{ proteinSample.protein | double }}</td>
        </tr>
    </table>
</section>